<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Medias</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Dopa Box</h2>
        <ul>
          <li><a href="/dashboard"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/notes"><i class="fas fa-sticky-note"></i>Notes</a></li>
          <li><a href="/accounts"><i class="fas fa-key"></i>Accounts</a></li>
          <li><a href="/links"><i class="fas fa-link"></i>Links</a></li>
          <li><a href="/medias"><i class="fas fa-images"></i>Image/Video</a></li>
          <li><a href="/files"><i class="fas fa-file"></i>Files</a></li>

          <li><a href="/friends"><i class="fas fa-user-friends"></i>Friends</a></li>
          <li><a href="/contactinfo"><i class="fas fa-info-circle"></i>About</a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Log out</a></li>

        </ul> 

    </div>
    <div class="main_content">
                  
      
        <div class="header">Welcome!! Since we don't have a "cloud" storage, we are only supporting upload for images that are less than 40kb, for videos, you can put youtube links in and it would have a embeded video
          <a href="/logout" style="color: black;">Log out</a>
        </div>
        <div style="display: flex;justify-content: space-evenly;">
          
          <div>
          <form action="/search" method="get">
            <h2 >Search</h2> <h2>
              <input type="hidden" name="search_type" id="" value="Images">
              <input class="form-control" style="width: 70%;display: inline;" type="text" name="search_content" id=""><button type="submit" style="display: inline;" class="btn btn-outline-dark">Search</button></h2>
          </form>
        </div>
          <div>
          <form action="/search" method="get">
            <h2 >Search</h2> <h2>
              <input type="hidden" name="search_type" id="" value="Videos">
              <input class="form-control" style="width: 70%;display: inline;" type="text" name="search_content" id=""><button type="submit" style="display: inline;" class="btn btn-outline-dark">Search</button></h2>
          </form>
        </div>
        
        
        
        
        
        
        
        
        
        
        
        </div>  
        

        <div style="display: flex;justify-content: space-evenly;">
        <div style="padding:10px;border-style: solid;">
          <h1><form action="/medias/image" method="post" enctype="multipart/form-data">
            New image(JPG,PNG,GIF)</h1></br><h3>Name：<input type="text" name="name" id="" value="Image {{all|length+1}}"">
  </h3><input type="file" name='file' accept="image/png, image/gif, image/jpeg"class="form-control" id="customFile"><button type="submit" class="btn btn-outline-dark btn-lg">Upload</button>
          </form>
        </div>
        <div style="padding:10px;border-style: solid;">
          <h1><form action="/medias/video" method="post">
            New Video(Youtube Only)</h1></br><h3>Name：<input  style="width: 50%;" type="text" name="name" id="" value="Video {{allv|length+1}}"></br>Link：<span>  </span>    <input  type="text" name="note" id=""></h3><button type="submit" class="btn btn-outline-dark btn-lg">Post</button>
          </form>
        </div>
      </div>

        <div style="display: flex;justify-content: space-evenly;">
          <div style="flex:1">
            <h2>Recent Image</h2>
            {% for i in all[0:6]%}
            <div style="display: inline-block;text-align: center; margin-left:10px;margin-top: 5px;">
            <p>{{i.name}}</p>
            <img style="max-height: 300px;max-width:240px ;" src="data:image/png;base64,{{i.file}}" alt='img'></br>
            <form style="display: inline-block;" action="/image/delete" method='post'>
              <input type="hidden" name='id' value="{{i.id}}">
              <button type="submit" class="btn btn-danger" >Delete</button>
            </form>
            <form style="display: inline-block;" action="/",method='post'>
              <button type="button" class="btn btn-info">Share</button>
            </form>
            <a href="data:image/png;base64,{{i.file}}" download><button type="button" class="btn btn-success">download</button></a>
              
          </div>
            {% endfor %}
          </div>
          <div style="flex:1;border-left-style: solid;height:500px">
            <h2>Recent Video</h2>
            {% for i in allv[0:6] %}
            <div style="display: inline-block;text-align: center; margin-left:10px;margin-top: 5px;">
              <p>{{i.name}}</p>
              <iframe width="200" height="158" allow="fullscreen;"
              src="https://www.youtube.com/embed/{{i.note}}">
              </iframe></br>

                <form style="display: inline-block;" action="/video/delete" method='post'>
                  <input type="hidden" name='id' value="{{i.id}}">
                  <button type="submit" class="btn btn-danger" >Delete</button>
                </form>
                <form style="display: inline-block;" action="/",method='post'>
                  <button type="button" class="btn btn-info">Share</button>
                </form>
                <form style="display: inline-block;" action="/",method='post'>
                  <button type="button" class="btn btn-success">download</button>
                </form>

              </div>
            {% endfor %}
          </div>
        </div>
    </div>
</div>

</body>
</html>