<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Accounts</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Dopa Box</h2>
        <ul>
          <li><a href="/dashboard"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/notes"><i class="fas fa-sticky-note"></i>Notes</a></li>
          <li><a href="/accounts"><i class="fas fa-key"></i>Accounts</a></li>
          <li><a href="/links"><i class="fas fa-link"></i>Links</a></li>
          <li><a href="/medias"><i class="fas fa-images"></i>Image/Video</a></li>
          <li><a href="/files"><i class="fas fa-file"></i>Files</a></li>

          <li><a href="/friends"><i class="fas fa-user-friends"></i>Friends</a></li>
          <li><a href="/contactinfo"><i class="fas fa-info-circle"></i>About</a></li>

            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Log out</a></li>

        </ul> 

    </div>
    <div class="main_content">
        <div class="header">Welcome!
          <a href="/logout" style="color: black;">Log out</a>
        </div>  
        <form action="/account/search" method="GET">

        <h2>Search <input class="form-control" value="{{content}}" style="width: 40%; display: inline;"  type="text" name="search_content"  id="">By <select  class="form-control"  style="width: 10%; display: inline;"  name="search_type" id="">
          <option value="{{type}}">{{type}}</option>
          <option value="All">All</option>
          <option value="Name">Name</option>
          <option value="Link">Link</option>
          <option value="User_name">User_name</option>
          <option value="Email">Email</option>
          <option value="Comment">Comment</option>
        </select><button type="submit" class="btn btn-outline-dark">Search</button>
      </h2>
        </form>
        <table id='accounts_table' class="table table-hover">
          <tr>
            <th>Name</th>
            <th>Link</th>
            <th>User_name</th>
            <th>Email</th>
            <th>Password</th>
            <th>comment</th>
            <th>Action</th>
          </tr>
          {% for i in search %}
          <tr>
            <form action="/accounts/update" method="post">
              <td><input class='inputbox'type="text" name="name" id="" value="{{i.name}}"></td>
              <th><input class='inputbox'type="text" name="link" id="" value="{{i.link}}"></th>
              <th><input class='inputbox'type="text" name="user_name" id="" value="{{i.user_name}}"></th>
              <th><input class='inputbox'type="text" name="email" id="" value="{{i.email}}"></th>
              <th><input class='inputbox' type="text" name="password" id="" value="{{i.password}}"></th>
              <th><input class='inputbox'type="text" name="comment" id="" value="{{i.comment}}"></th>
              <input type="hidden" name="id" id="" value="{{i.id}}">
              <th><input class='inputbox'type="submit" name="submit" id=""value="Update"> or <div class="popup" onclick="myFunction({{i.id}})">Delete
                <span class="popuptext" id="myPopup{{i.id}}">Are you sure you want to delete "{{i.name}}"? </br>
                  <input class='inputbox'type="submit" name="submit" id=""value="Delete"></a>
                  </span>
              </div></th>
            </form>
          </tr>
          {% endfor %}
          <tr>
            <form action="/accounts/create" method="post">
            <td><input class='inputbox'type="text" name="name" id=""></td>
            <th><input class='inputbox'type="text" name="link" id=""></th>
            <th><input class='inputbox'type="text" name="user_name" id=""></th>
            <th><input class='inputbox'type="text" name="email" id=""></th>
            <th><input class='inputbox'type="text" name="password" id=""></th>
            <th><input class='inputbox'type="text" name="comment" id=""></th>
            <th><input class='inputbox'type="submit" name="" id=""value="Create"></th>
          </form>
          </tr>
        </table>
        </div>

    </div>
</div>
<script src="{{url_for('static', filename='popup_delete.js')}}"></script>

</body>
</html>