<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Notes</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Dopa Box</h2>
        <ul>
            <li><a href="/dashboard"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/notes"><i class="fas fa-sticky-note"></i>Notes</a></li>
            <li><a href="/accounts"><i class="fas fa-key"></i>Accounts</a></li>
            <li><a href="#"><i class="fas fa-link"></i>Links</a></li>
            <li><a href="#"><i class="fas fa-images"></i>Image/Video</a></li>
            <li><a href="#"><i class="fas fa-file"></i>Files</a></li>

            <li><a href="#"><i class="fas fa-user-friends"></i>Friends</a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Log out</a></li>

        </ul> 

    </div>
    <div class="main_content" >
        <div class="header">Welcome!<a href="/notes"style="color: black;">Click here to create a new link</a>
          <a href="/logout" style="color: black;">Log out</a>
        </div>  
        <div class="note" style="display: flex;justify-content: space-evenly;">

          <div class="form-outline">
            <form action="/links/{{update[0]['id']}}/update" method="post">
            <label class="form-label" for="form1" >Name</label>
            <input type="text" value="{{update[0]['name']}}" name='name' id="form1" class="form-control" style="width: 300px;"/>
            <label class="form-label" for="form1">Link</label>
            <input type="text" value="{{update[0]['note']}}" name='note' id="form1" class="form-control" />
            <button type="submit" class="btn btn-dark">Update</button>
          </form>
          </div>
            

        <div style="margin-left: 5%;">
          <h2 style="align-items: center;">Recent Links </h2>
          <table class="table table-striped">
            <tr>
              <th>Name</th>
              <th>Action</th>

            </tr>
            {% for i in all[0:16] %}
            
            <tr>
              <td><a href="https://{{i.note}}/" target="_blank">{{i.name}}</a></td>
              <td><a href="">Update </a>or <a href="">Delete</a> or <a href="">Share </a></td>

            </tr>
            {% endfor %}

          </table>
        </div>
        </div>

    </div>
</div>

</body>
</html>